$theme-colors: (
  "dark": rgb(26,26,27),
  "primary": rgb(237,192,162),
  "light": rgb(251,251,251),
  "gray": rgb(242,242,242)
);

//Import
@import "../../lib/node_modules/bootstrap/scss/bootstrap";

//Font & Things
@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url(../fonts/RobotoSlab-Light.ttf);
}

p {
	font-family: RobotoSlab-Light;
}

h1 {
	font-size: 22px;
}

h5 {
	font-size: 16px;
}

//Main
body {
	background-color: theme-color("light");
	font-family: RobotoSlab-Regular;
	margin-top: 50px;
	color: #000;
}

.container {
	max-width: 1020px;
	padding-left: 30px;
	padding-right: 30px;
	z-index: -1;
}

.brand object {
	display: block;
}

.content {
	margin-top: 30px;

	& h1 {
		display: inline-block;
	}
}

.page-title {
	margin-bottom: 30px;
	padding: 0;
}

.bg-yellow {
	background: linear-gradient(to top, rgba(theme-color("primary"), .6) 50%, transparent 50%);
}

hr {
	border-color: theme-color("gray");
	margin: 0;
}

.content {

	.row {
		padding: 0;
		margin: 0;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.col-md-6 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	min-height: 150px;

	&:nth-child(1) {
		background-color: theme-color("dark");
		color: theme-color("light");
	}
	&:nth-child(2) {
		background-color: theme-color("primary");
	}
	&:nth-child(3) {
		background-color: theme-color("gray");
	}
}

footer {
	margin: 30px 0px 30px;
	z-index: 1;
	.brand {
		opacity: 0.3;
	}
}

//Navbar Fix !

.navbar {
	padding: 30px 0px 30px 0px;

	&-brand {
		color: theme-color("dark");
		font-size: 24px;
		line-height: 24px;
		margin: 17px 0px 0px 0px;
		padding: 0;

		&:hover {
			color: theme-color("dark");
		}
	}
	.nav-item {
    	margin-left: 10px;
    	margin-right: 10px;
	}
	.active {
		border-bottom: 2px solid rgba(theme-color("primary"), .6);
	}
	&-nav .nav-link {
		transition: 0.15s;
	}
}

.navbar-toggler {
	border: none;
}

@media (min-width: 576px) {

	.navbar-expand-sm .navbar-nav .nav-link {
		padding: 0px 0px 7px 0px;
	}
}

.card {
	background-color: theme-color("light");
	border: none;
	border-radius: none;
	margin-bottom: 30px;

	&-body {
		padding: 10px;
	}
}

.btn {
	border-radius: 2px;
}

.btn-outline- {

	&dark {
		border: 2px solid;
	}
}

.container::before {
	content: '';
	padding-right: 100%;
	background-color: theme-color("dark");
	z-index: -1;
	float: right;
}

//sass --watch styles.scss styles.css